{#<!doctype html>#}
{#<html>#}
{#<head>#}
{#<meta charset="utf-8">#}
{#	<title>Add news </title>#}
{#</head>#}
{% extends "admin/index.html" %}
{% block body %}


<body>
<form method="post" enctype="multipart/form-data" name="form1" id="form1" onsubmit="swal('Added!','News Added!', 'success');" action="/Add_news_post">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <table width="577" height="244" border="0" align="center">
    <tbody>
      <tr>
        <td width="150" height="47">title</td>
        <td width="273"><input type="text" name="textfield" id="textfield" required class="form-control"  style="border-radius: 50px"></td>
      </tr>
      <tr>
        <td height="80">Discription</td>
        <td><textarea name="textarea" id="textarea" required class="form-control"  style="border-radius: 50px"></textarea></td>
      </tr>
      <tr>
        <td>image</td>
        <td><input type="file" name="fileField" id="fileField" required class="form-control btn-round" style="border-radius: 50px; background:#C7EDF5"></td>
      </tr>
      <tr>
        <td colspan="2" align="center"><input type="submit" name="submit" id="submit" value="add" class="btn btn-round btn-success button-mechfinder-search " style="font-size:15px;"></td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock %}
{#</html>#}
