<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>admin_home</title>
</head>

<body>
<form id="form1" name="form1" method="post">
  <p>&nbsp;</p>
  <table width="210" height="452" border="1">
    <tbody>
      <tr>
        <td><a href="/view_pending_workshop">View pending workshop</a></td>
      </tr>
      <tr>
        <td><a href="/view_approved_workshop">View approved workshops</a></td>
      </tr>
      <tr>
        <td><a href="/view_rejected_workshop">View rejected workshop</a></td>
      </tr>
      <tr>
        <td><a href="/Manage_complaints">Manage complaints</a></td>
      </tr>
      <tr>
        <td><a href="/View_feedback">View feedback</a></td>
      </tr>
      <tr>
        <td><a href="/View_rating">View rating</a></td>
      </tr>
      <tr>
        <td><a href="/Add_Notification">Add Notification</a></td>
      </tr>
      <tr>
        <td><a href="/View_Notification">View Notification</a></td>
      </tr>
      <tr>
        <td><a href="/Add_news">Add news</a></td>
      </tr>
      <tr>
        <td><a href="/view_news">view news</a></td>
      </tr>
      <tr>
        <td><a href="#">Shop owner chat</a></td>
      </tr>
      <tr>
        <td><a href="/change_password">change password</a></td>
      </tr>
      <tr>
        <td><a href="/logout_admin">Logout</a></td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
</body>
</html>
