<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Verify  worck shop</title>
</head>

<body>
	<form id="form1" name="form1" method="post" >
  <table width="302" border="0" align="center">
    <tbody>
	
      <tr>
        <td colspan="2" align="center">&nbsp; Verify</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td width="120">Shop Name:</td>
        <td width="172"><input type="text" name="textfield5" id="textfield5"></td>
      </tr>
      <tr>
        <td>Place</td>
        <td><input type="text" name="textfield2" id="textfield2"></td>
      </tr>
      <tr>
        <td>City</td>
        <td><input type="text" name="textfield3" id="textfield3"></td>
      </tr>
      <tr>
        <td>District</td>
        <td><input type="text" name="textfield4" id="textfield4"></td>
      </tr>
      <tr>
        <td>Pincode</td>
        <td><input type="number" name="number" id="number"></td>
      </tr>
      <tr>
        <td><p>E-mail</p></td>
        <td><input type="email" name="email" id="email"></td>
      </tr>
      <tr>
        <td>Shop License</td>
        <td><a href="#">Show Document</a></td>
      </tr>
      <tr>
        <td height="31">Phone</td>
        <td><input type="number" name="number2" id="number2"></td>
      </tr>
      
      <tr>
        <td colspan="2"><strong>Services</strong></td>
      </tr>
      
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="center"><input type="submit" name="submit" id="submit" value="Approve">         
      </tr>
      
    </tbody>
  </table>
</form>
</body>
</html>
