<!doctype html>
<html>
<head>
<meta charset="utf-8">
</head>

<body>
	<form id="form1" name="form1" method="post" >
  <table width="302" border="0" align="center">
    <tbody>
	
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td width="120">Shop Name:</td>
        <td width="172">{{ data['shop_name'] }}</td>
      </tr>
      <tr>
        <td>Place</td>
        <td>{{ data['place'] }}</td>
      </tr>
      <tr>
        <td>City</td>
        <td>{{ data['city'] }}</td>
      </tr>
      <tr>
        <td>District</td>
        <td>{{ data['district'] }}</td>
      </tr>
      <tr>
        <td>Pincode</td>
        <td>{{ data['pincode'] }}</td>
      </tr>
      <tr>
        <td><p>E-mail</p></td>
        <td>{{ data['email'] }}</td>
      </tr>
      <tr>
        <td>Shop License</td>

        <td><img src="/static/worckshop/{{ data['shop_lisence'] }}" width="100" height="100" alt="No document"/><br><a href="#">Show Document</a></td>
      </tr>
      <tr>
        <td height="31">Phone</td>
        <td>{{ data['phone'] }}</td>
      </tr>
      
      <tr>
        <td ><strong>Services</strong></td>
		  <td><table width="200" border="0">
		    <tbody>
            {% for k in data2 %}
		      <tr>
		        <td>{{ k['service'] }}</td>
	          </tr>
            {% endfor %}
	        </tbody>
	      </table></td>
          
      </tr>
      
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="2" align="center"><input type="submit" name="submit" id="submit" value="Block">         
      </tr>
      
    </tbody>
  </table>
</form>
</body>
</html>
