{#<!doctype html>#}
{#<html>#}
{#<head>#}
{#<meta charset="utf-8">#}
{#<title>View rejected workshop</title>#}
{#</head>#}
{% extends "admin/index.html" %}
{% block body %}

<body>
	<form id="form1" name="form1" method="post" action="/search_rejected_workshop" >

  <table width="959" height="169" border="0" align="center" class="table table-hover">
    <tbody>
      <tr>
        <td colspan="10" align="right">&nbsp;<input type="text" name="search" id="textfield" placeholder="Search" align="right"  class="form-round">
        <input type="submit" value="Search" name="btn" class="btn btn-round btn-primary button-mechfinder-search " style="font-size:10px;"></td>
      </tr>
      <tr>
        <td width="67" height="41">SI No</td>
        <td width="95">Name</td>
        <td width="93">Place</td>
        <td width="93">city</td>
        
        <td width="93">Pin</td>
        <td width="95">District</td>
		
        <td width="93">Email</td>
        <td width="98">Phone number</td>
          <td></td>
          <td></td>
        
      </tr>
      {% for k in data %}
      <tr>
        <td>{{ loop.index }}</td>
        <td>{{ k['shop_name'] }}</td>
        <td>&nbsp;{{ k['place'] }}</td>
        <td>&nbsp;{{ k['city'] }}</td>
        <td>&nbsp;{{ k['pincode'] }}</td>
        <td>&nbsp;{{ k['district'] }}</td>
        <td>&nbsp;{{ k['email'] }}</td>
        <td>&nbsp;{{ k['phone'] }}</td>
        <td width="42"><a href="/delete_rejected_workshop/{{ k['login_id'] }}" class="btn btn-secondary btn-round btn-mechfinder-verify" style="font-size: 8px;">Delete   </a> </td>
		  <td width="42"><a href="/verify_reject/{{ k['login_id'] }}" class="btn btn btn-success btn-round btn-mechfinder-verify" style="font-size: 8px;">Verify   </a> </td>
		
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
</body>
{% endblock%}
{#</html>#}
