<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <p><h2>View Complaints</h2></p>
  <table width="435" height="85" border="1" align="center">
    <tr>
      <td height="31" colspan="7" align="right"><label for="textfield5"></label>
      <input type="text" name="textfield" placeholder="Search" id="textfield5" /></td>
    </tr>
    <tr>
      <td width="60" height="31">Sl.No</td>
      <td width="100">Username</td>
      <td width="161">Complaint</td>
      <td width="86">Date</td>
      <td width="86">Reply</td>
      <td width="86">Reply Date</td>
      <td width="86"></td>
    </tr>
      {% for k in data %}
    <tr>
      <td height="15">{{ loop.index }}</td>
      <td>{{ k['name'] }}</td>
      <td>{{ k['complaint'] }}</td>
      <td>{{ k['complaint_date'] }}</td>
      <td>{{ k['replay'] }}</td>
      <td>{{ k['replay_date'] }}</td>
      <td><a href="/send_reply/{{ k['complaint_id'] }}">Reply</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
