<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <p ><h2 align="center">View Notification
  </h2>
  <table width="765" height="184" border="1" align="center">
    <tr>
      <td colspan="6" align="right"><label for="textfield4"></label>
      <input type="text" name="textfield" id="textfield4" placeholder="Search"/></td>
    </tr>
    <tr>
      <td width="50">Sl.No</td>
      <td width="142">Date</td>
      <td width="142">Subject</td>
      <td width="180">Content</td>
      <td width="62">Image</td>
      <td width="62">&nbsp;</td>
    </tr>
      {% for k in data %}
    <tr>
      <td> {{ loop.index }}</td>
        <td>{{ k['date'] }}</td>
        <td>{{ k['subject'] }}</td>
        <td>{{ k['description'] }}</td>
        <td><img src="static/notification/{{ k['image'] }}" alt="" height="100" width="100" alt=""/></td>
      <td><a href="/delete_notification/{{ k['notification_id'] }}">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
