<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <table width="610" height="75" border="1" align="center">
    <tr>
      <td height="23" colspan="6" align="right"><label for="textfield6"></label>
      <input type="text" name="textfield" placeholder="Search" id="textfield6" /></td>
    </tr>
    <tr>
      <td width="52" height="23">Sl.No</td>
      <td width="98">User Name</td>
      <td width="94">Workshop</td>
      <td width="160">Rating</td>
      <td width="83">feedback</td>
        
      <td width="83">Date</td>
    </tr>
      {% for k in data %}
    <tr>
      <td height="17">{{ loop.index }}</td>
      <td>{{ k['name'] }}</td>
      <td>{{ k['shop_name'] }}</td>
      <td>{{ k['rating'] }}</td>
      <td>&nbsp;{{ k['feedback'] }}</td>
      <td>{{ k['date'] }}</td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
