<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="462" height="80" border="1" align="center">
    <tr>
      <td colspan="5" align="right"><label for="textfield4"></label>
      <input type="text" name="textfield" id="textfield4" placeholder="Search"/></td>
    </tr>
    <tr>
      <td width="50">Sl.No</td>
      <td width="142">Date</td>
      <td width="142">Title</td>
      <td width="180">Description</td>
      <td width="62">&nbsp;</td>
    </tr>
      {% for k in data %}
    <tr>
      <td>{{ loop.index }}</td>
        <td>{{ k['date'] }}</td>
        <td>{{ k['news_title'] }}</td>
        <td>{{ k['news_description'] }}</td>
      <td><a href="#">Edit</a><a href="#">Delete</a></td>
    </tr>
      {% endfor %}
  </table>
</form>
</body>
</html>
