<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>forgot_password</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/forgot_password_post">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <table width="597" height="126" border="0" align="center">
    <tbody>
      <tr>
        <td align="center"><input type="email" name="mail" id="textfield" placeholder="Ender your mail address"></td>
      </tr>
      <tr>
        <td align="center"\><input type="submit" name="submit" id="submit" value="send" ></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
</form>
</body>
</html>
