<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body><form><table width="471" border="0" align="center">
  <tbody>
    <tr>
      <td align="center" colspan="2">Add Services</td>
      </tr>
  
    <tr>
      <td>Service</td>
      
      <td>
	  <select name="service">
	  
	  </select>
	  </td>
      </tr>
    <tr>
      <td>Vehicle Type</td>
    
      <td><select name="service">
	  
	  </select>
	  </td>
    </tr>
    <tr>
      <td>Price</td>
    
      <td><input type="text" name="price"/></td>
    </tr>
    <tr>
      <td colspan="2" align="center"><input type="button" name="button" id="button" value="Add"></td>
    </tr>
  </tbody>
</table>
</form>
</body>
</html>
