{% extends "owner/index.html" %}
{% block body %}
<body>
<form id="form1" name="form1" method="post" action="/chat_add" onsubmit="swal('Send!','Message!', 'success');">
    <center><h4><i></i></h4></center><br>
<script src="/static/jquery.min.js"></script>
    <div class="col-md-12">
<input type="hidden" id="hid" value="{{ lid }}" name="toid">
  <table >
    <tr>
      <th width="60"  style="padding: 65px 0 65px 0">Message</th>
      <td width="459"><textarea name="ta" class="form-control" id="textarea" cols="45" rows="5" required class="form-control"  style="border-radius: 50px"></textarea></td>
    </tr>
    <tr>
      <td align="center" colspan="2"><input type="submit" class="btn btn-round btn-success button-mechfinder-search " style="font-size:15px;" name="SEnd" id="SEnd" value="Send" /></td>
    </tr>
  </table>
  <p>&nbsp;</p>
  <br />



  <table id="tbl_msg" class="table" border="0">

  </table>
</div>
<script>
    $(document).ready(function () {
        var id,toid;
        toid = document.getElementById("hid").value;
        var ajax_call = function() {
            $.ajax({
                url: '/chat_view',
                type: 'post',
                data: {idd: toid},
                success: function (response) {
                    console.log(response);
                    {#alert(response)#}
                    $("#tbl_msg").empty();
                    var ln = response.length;
                    for (i = 0; i < ln; i++) {
                        var id = response[i]["from_id"];
                        var date = response[i]["date"];
                        var message = response[i]["message"];
                        if (toid != id)    // outgoing message
                        {
                            $("#tbl_msg").append("<tr><td style='width: 50%;background-color: #ffffff;border-radius: 10px;'></td><td style='width: 50%;background-color: #78CF8A;border-radius: 10px;'><div class='row'><div class='col-md-6'>ME</div><div class='col-md-6' align='right'>" + date + "</div><div class='col-md-12'><h4>" + message + "</h4></div></div></td></tr>");
                        }
                        if (toid == id)    // incoming message
                        {
                            $("#tbl_msg").append("<tr><td style='width: 50%;background-color: #c3e6cb;border-radius: 10px;'><div class='row'><div class='col-md-6'>Group</div><div class='col-md-6' align='right'>" + date + "</div><div class='col-md-12'><h4>" + message + "</h4></div></div></td><td style='width: 50%;background-color: #ffffff;border-radius: 10px;'></td></tr>");
                        }
                    }
                },
                error: function (error) {
                    console.log(error)
{#                    alert("error   :   ", error)#}
                }
            });
        };
        var interval = 1000; // 1sec
        setInterval(ajax_call, interval);
    });
</script>
</form>
</body>
{% endblock%}