<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body><form><table width="471" border="0" align="center">
  <tbody>
    <tr>
      <td align="center">Edit Photo</td>
      </tr>
    <tr>
      <td width="232">&nbsp;</td>
      </tr>
    <tr>
      <td align="center">Photo</td>
	  <td><input type="file" name="file" id="file" required></td>
      </tr>
    
    <tr>
      <td align="center" colspan="2" height="100"><input type="button" name="button" id="button" value="Update" onsubmit="swal('Added!','News Added!', 'success');"></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      </tr>
  </tbody>
</table>
</form>
</body>
</html>
