<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post">
	<table width="662" border="1" align="center">
  <tbody>
    <tr>
      <td colspan="5" align="center">GALLERY</td>
      </tr>
    {% set k=0 %}
    {% for p in range(0,10) %}

    <tr>
    {% if k<10 %}
      <td>{{ k }}</td>
        {% endif %}
    {% set k = k + 1 %}
     {% if k<10 %}
      <td>{{ k }}</td>
        {% endif %}
    {% set k = k + 1 %}
      {% if k<10 %}
      <td>{{ k }}</td>
        {% endif %}

    </tr>
    {% endfor %}


  </tbody>
</table>

</form>
</body>
</html>
