<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body><form><table width="230" height="559" border="1">
  <tbody>
    <tr>
      <td width="179"><a href="/view_profile">View profile</a></td>
    </tr>
    <tr>
      <td><a href="/change_owner_password">Change password</a></td>
    </tr>
    <tr>
      <td><a href="/gallery_management">Gallery management</a></td>
    </tr>
    <tr>
      <td><a href="/add_photo">Add photo</a></td>
    </tr>
    <tr>
      <td><a href="/view_services">View services</a></td>
    </tr>
    <tr>
      <td><a href="/add_services">Add services</a></td>
    </tr>
    <tr>
      <td><a href="/pending_service_requestes">Pending service requests</a></td>
    </tr>
    <tr>
      <td><a href="/approved_service_requestes">Approved service requests</a></td>
    </tr>
    <tr>
      <td><a href="/service_request_history">Service request history</a></td>
    </tr>
    <tr>
      <td><a href="/view_rating">View rating/feedback</a></td>
    </tr>
    <tr>
      <td><a href="#">Chat with costomers</a></td>
    </tr>
    <tr>
      <td><a href="/logout_shop">Logout</a></td>
    </tr>

  </tbody>
</table>
</form>
</body>
</html>
