<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="/accepet_reject_service_request">
  <table width="789" height="164" border="0">
    <tbody>
      <tr>
        <td width="108">Name</td>
        <td width="228">{{ data['name'] }}</td>
        <td width="150">Vehicle Type</td>
        <td width="155">{{ data['vehicle_type'] }}</td>
        <td width="126" rowspan="4"><img src="/static/user/{{ data['user_image'] }}" width="120" height="120"/>&nbsp;</td>
      </tr>
      <tr>
        <td>Place</td>
        <td>&nbsp;{{ data['place'] }}</td>
        <td>Company &amp; Model</td>
        <td>&nbsp;{{ data['company'] }}     {{ data['model'] }}</td>
      </tr>
      <tr>
        <td>Date</td>
        <td>{{ data['request_date']}}</td>
        <td>Manufacture year</td>
        <td>{{ data['manfctr_year'] }}</td>
      </tr>
      <tr>
        <td align="justify">Description</td>
        <td>&nbsp;{{ data['description'] }}</td>
        <td colspan="2">&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <table width="786" border="0">
    <tbody>
      <tr>
        <th height="37" colspan="2" scope="col">Services</th>
		  <td><table width="256" height="35" border="0">
		    <tbody>
            {% for k in data1 %}
		      <tr>
		        <td>{{ k['service'] }}</td>
		        <td>{{ k['amount'] }}</td>
	          </tr>
            {% endfor %}
	        </tbody>
	      </table></td>
      </tr>
      <tr>
        <td width="76" height="41">Sl.no:  {{ data['service_request_id'] }}</td>
        <td width="428"></td>
        <td width="268">Amount {{ data['payment'] }}</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <table width="786" border="0">
    <tbody>
      
      <tr>
        <td width="549">&nbsp;</td>
        <td width="129"><input type="submit" name="submit" id="submit" value="Accept"></td>
        <td width="94"><input type="submit" name="submit" id="submit" value="Reject"></td>
      </tr>
    </tbody>
  </table>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</form>
</body>
</html>
