<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>  
<form id="form1" name="form1" method="post"  action="/sinup_post" enctype="multipart/form-data">
  <table width="302" border="0" align="center">
    <tbody>
	
      <tr>
        <td colspan="2" align="center">Sign up</td>
      </tr>
      <tr>
        <td colspan="2">&nbsp;</td>
      </tr>
      <tr>
        <td width="120">Shop Name:</td>
        <td width="172"><input type="text" name="textfield5" id="textfield5" required></td>
      </tr>
      <tr>
        <td>Place</td>
        <td><input type="text" name="textfield2" id="textfield2" required></td>
      </tr>
      <tr>
        <td>City</td>
        <td><input type="text" name="textfield3" id="textfield3" required></td>
      </tr>
      <tr>
        <td>District</td>
        <td><input type="text" name="textfield4" id="textfield4" required></td>
      </tr>
      <tr>
        <td>Pincode</td>
        <td><input type="number" name="number" id="number" required minlength="6" maxlength="6"></td>
      </tr>
      <tr>
        <td><p>E-mail</p></td>
        <td><input type="email" name="email" id="email" pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" required></td>
      </tr>
      <tr>
        <td>Shop License</td>
        <td><input type="file" name="file" id="file" required></td>
      </tr>
      <tr>
        <td height="31">Phone</td>
        <td><input type="tel" name="number2" id="number2" pattern="[6789][0-9]{9}" required></td>
      </tr>
	        <tr>
        <td height="31">Latitude</td>
        <td><input type="text" name="latitude" id="latitude" required></td>
      </tr>
	        <tr>
        <td height="31">Longitude</td>
        <td><input type="text" name="longitude" id="longitude" required></td>
      </tr>
      <tr>
        <td>Password</td>
        <td><input type="password" name="password" id="password" required minlength="6"></td>
      </tr>
      <tr>
        <td>Confirm Password</td>
        <td><input type="password" name="password3" id="password3" required minlength="6"></td>
      </tr>

      <tr>
        <td align="right"><input type="submit" name="submit" id="submit" value="Signup"></td>
        <td align="center"><input type="reset" name="reset" id="reset" value="Reset"></td>
      </tr>
     
    </tbody>
  </table>
</form>
</body>
</html>
