<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<table width="699" border="1">
  <tbody>
    <tr>
      <th width="62" height="49" scope="col">Sl.No</th>
      <th width="121" scope="col">Name</th>
      <th width="86" scope="col">Place</th>
      <th width="79" scope="col">Date</th>
      <th width="218" scope="col">Description</th>
      <th width="93" scope="col">&nbsp;</th>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
      <td><a href="#">More info</a></td>
    </tr>
  </tbody>
</table>
</body>
</html>
