<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Untitled Document</title>
</head>

<body>
<table width="699" border="1">
  <tbody>
    <tr>
      <th width="62" height="49" scope="col">Sl.No</th>
      <th width="121" scope="col">Name</th>
      <th width="86" scope="col">Place</th>
      <th width="79" scope="col">Date</th>
      <th width="218" scope="col">Description</th>
      <th width="93" scope="col">&nbsp;</th>
    </tr>
    {% for k in data %}
    <tr>
      <td>{{ loop.index }}</td>
      <td>&nbsp;{{ k['name'] }}</td>
      <td>{{ k['place'] }}</td>
      <td>&nbsp;{{ k['request_date'] }}</td>
      <td>&nbsp;{{ k['description'] }}</td>
      <td><a href="/service_history_more_info/{{ k['service_request_id'] }}">More info</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</body>
</html>
