{#<form></form><!doctype html>#}
{#<html>#}
{#<head>#}
{#<meta charset="utf-8">#}
{#<title>View feedback</title>#}
{#</head>#}
{% extends "owner/index.html" %}
{% block body %}
<body>
	<form id="form1" name="form1" method="post">
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
   <table width="462" height="80"  align="center" class="table table-hover">
    <tr>
      <th width="50">Sl.No</th>
      <th width="142">Service</th>
      <th width="142">Vehicle Type</th>
      <th width="80">Price</th>
      <th width="200">&nbsp;</th>
    </tr>

       {% for k in data %}
    <tr>
      <td>{{ loop.index }}</td>
        <td>{{ k['service'] }}</td>
        <td>{{ k['vehichle_type'] }}</td>
        <td>{{ k['amount'] }}</td>
      <td><a href="/edit_service/{{ k['service_id'] }}" class="btn btn-primary btn-round">&nbspEdit &nbsp </a>&nbsp&nbsp<a href="/delete_service/{{ k['service_id'] }}" class="btn btn-danger btn-round">Delete</a></td>
    </tr>
       {% endfor %}
  </table>
  <p>&nbsp;</p>
</form>
</body>
{% endblock%}
{#</html>#}
