{#<!doctype html>#}
{#<html>#}
{#<head>#}
{#<meta charset="utf-8">#}
{#<title>Untitled Document</title>#}
{#</head>#}
{% extends "owner/index.html" %}
{% block body %}

<body>
<table width="766"  class="table table-hover">
  <tbody>
    <tr>
      <th width="62" scope="col">Sl.No</th>
      <th width="121" scope="col">Name</th>
      <th width="126" scope="col">Place</th>
      <th width="97" scope="col">Date</th>
      <th width="160" scope="col">Feedback</th>
      <th width="160" scope="col">Rating</th>
    </tr>
    {% for k in data %}
    <tr>

      <td>{{ loop.index}}</td>
      <td>{{ k['name'] }}</td>
      <td>&nbsp;{{ k['place'] }}</td>
      <td>{{ k['date'] }}</td>
      <td>&nbsp;{{ k['feedback'] }}</td>
      <td>&nbsp;{{ k['rating'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</body>
{% endblock%}
{#</html>#}
